<div>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

    <div class="col-md-2">
      <label for="firstname">First name</label>
      <input id="FirstName" type="text" formControlName="FirstName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="lastname">Last name</label>
      <input id="LastName" type="text" formControlName="LastName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="username">Username</label>
      <input id="UserName" type="text" formControlName="UserName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="password">Password</label>
      <input id="Password" type="text" formControlName="Password" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="phone">Phone</label>
      <input id="Phone" type="text" formControlName="Phone" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="email">Email</label>
      <input id="Email" type="text" formControlName="Email" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="addressId">Address id</label>
      <input id="AddressId" type="text" formControlName="AddressId" class="form-control">
    </div>

    <br />

    <div class="col-md-2">
      <button type="submit" [disabled]="!addUserForm.valid" class="form-control">Submit</button>
    </div>
  </form>
</div>

