<div>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

    <div class="col-md-2">
      <label for="FirstName">{{ 'users.firstname' | translate}}</label>
      <input id="FirstName" type="text" formControlName="FirstName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="LastName">{{ 'users.lastname' | translate}}</label>
      <input id="LastName" type="text" formControlName="LastName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="UserName">{{ 'users.username' | translate}}</label>
      <input id="UserName" type="text" formControlName="UserName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Password">{{ 'users.password' | translate}}</label>
      <input id="Password" type="text" formControlName="Password" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Phone">{{ 'users.phone' | translate}}</label>
      <input id="Phone" type="number" formControlName="Phone" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Email">{{ 'users.email' | translate}}</label>
      <input id="Email" type="text" formControlName="Email" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="AddressLine1">{{ 'address.addressline1' | translate}}</label>
      <input id="AddressLine1" type="text" formControlName="AddressLine1" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="AddressLine2">{{ 'address.addressline2' | translate}}</label>
      <input id="AddressLine2" type="text" formControlName="AddressLine2" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Country">{{ 'address.country' | translate}}</label>
      <input id="Country" type="text" formControlName="Country" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="City">{{ 'address.city' | translate}}</label>
      <input id="City" type="text" formControlName="City" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="ZipCode">{{ 'address.zipcode' | translate}}</label>
      <input id="ZipCode" type="text" formControlName="ZipCode" class="form-control">
    </div>

    <br />

    <div class="col-md-2">
      <button type="submit" class="form-control">Submit</button>
    </div>
  </form>
</div>

