<div>
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">

    <div class="col-md-2">
      <label for="FirstName">{{ 'users.firstname' | translate}}</label>
      <input id="FirstName" type="text" formControlName="FirstName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="LastName">{{ 'users.lastname' | translate}}</label>
      <input id="LastName" type="text" formControlName="LastName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="UserName">{{ 'users.username' | translate}}</label>
      <input id="UserName" type="text" formControlName="UserName" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Password">{{ 'users.password' | translate}}</label>
      <input id="Password" type="text" formControlName="Password" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Phone">{{ 'users.phone' | translate}}</label>
      <input id="Phone" type="number" formControlName="Phone" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Email">{{ 'users.email' | translate}}</label>
      <input id="Email" type="text" formControlName="Email" class="form-control">
    </div>

    <div class="col-md-2">
      <label for="Address_id">{{ 'users.address_id' | translate}}</label>
      <input id="Address_id" type="number" formControlName="Address_id" class="form-control">
    </div>

    <br />

    <div class="col-md-2">
      <button type="submit" class="form-control">Submit</button>
    </div>
  </form>
</div>

