<div class="d-flex justify-content-center" *ngIf="!isLoggedIn">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="d-flex row col-md-6">
    <div class="p-2">
      <input id="UserName" type="text" formControlName="UserName" class="form-control" placeholder="{{ 'users.username' | translate}}">
      <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" class="alert alert-danger">
        <div *ngIf="userName?.errors">
          {{ 'users.username' | translate}} {{ 'shared.required' | translate}}
        </div>
      </div>
    </div>

    <div class="p-2">
      <input id="Password" type="text" formControlName="Password" class="form-control" placeholder="{{ 'users.password' | translate}}">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
        <div *ngIf="password?.errors">
          {{ 'users.password' | translate}} {{ 'shared.required' | translate}}
        </div>
      </div>
    </div>


    <br />

    <div class="p-2">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary ">Submit</button>
    </div>
  </div>
</form>
</div>

<div *ngIf="isLoggedIn">

  <p>welcome back my friend</p>
</div>
